button { 
    border: none;
    transition: .2s;
    border-radius: 60px;
    width: 100%;
    height: 56px;
    font-weight: 700;
    cursor: pointer;
    padding: 0;

    @media (max-width: 375px) {
        height: 48px;
        font-size: 14px;  
    }

    &.btn-primary {
        background-color: var(--primary-color);

        &__text {
            display: block;
        }

        .btn-primary__loader {
            display: none;
        }
        
        &:hover {
            background-color: var(--primary-color-dark);
        }

        &:active {
            background-color: var(--color-green-900);
        }

        &[data-loading="1"] {
            &:hover {
                cursor: not-allowed;
                background-color: var(--primary-color);
            }
            .btn-primary__text {
                display: none;
            }
            .btn-primary__loader {
                display: block;
                height: 65%;
            }
        }

        &[disabled] {
            background-color: #494949;
            color: #696969;

            &:hover {
                cursor: not-allowed;
                background-color: var(--background-color-disabled);
            }
        }
    }
}